<nav class="bar bar-nav">
  {{#link-to 'tweet.index' tagName='button' class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
    Cancelar
  {{/link-to}}
  <h1 class="title">Comentar</h1>
</nav>

<div class="content">
  <article class="content-padded">
    {{textarea value=textComment placeholder='¿Qué está sucediendo?' class='btn-block'}}
    <p class="pull-right">Quedan {{remainingCharacters}} caracteres restantes</p>
    <button {{action 'sendComment'}} {{bind-attr class=":btn :btn-block canSend:btn-primary"}} {{bind-attr disabled=cantSend}}>
      Enviar comentario
    </button>
  </article>
</div>