<nav class="bar bar-nav">
  <button {{action 'goBack' 'report.comments' model}} class="btn btn-link btn-nav pull-left">
    <span class="icon icon-left-nav"></span>
    Cancelar
  </button>
  <h1 class="title">Comentar</h1>
</nav>

<div class="content">
  <article class="content-padded">
    {{textarea value=comment placeholder='¿Qué está sucediendo?' class='btn-block'}}
    <p class="pull-right">Quedan <span {{bind-attr class=":badge inRange::badge-negative"}}>{{remainingCharacters}}</span> caracteres restantes</p>
    <button {{action 'sendComment'}} {{bind-attr class=":btn :btn-block canSend:btn-primary"}} {{bind-attr disabled=cantSend}}>
      Enviar comentario
    </button>
  </article>
</div>