<nav class="bar bar-nav">
  {{#link-to 'report' model tagName='button' class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
    Cancelar
  {{/link-to}}
</nav>

<div class="content">
  <article class="content-padded">
    <p>Gracias por hacer esta denuncia.<br>Seleccione una razón:</p>
    {{#eachIndexed reason in reasons}}
    <p>
      {{radio-button id=index_1 name='reason' value=index groupValue=selectedReason}}
      <label {{bind-attr for=index_1}}>{{reason}}
    </p>
    {{/eachIndexed}}  
    <button {{action 'sendDenounce'}} class="btn btn-negative btn-block" {{bind-attr disabled=cantSend}}>Enviar denuncia</button>
  </article>
</div>