{{#if isDraggable}}
  <button {{action 'revert'}} class='btn btn-negative pull-left'>
    ❌ Cancelar
  </button>
  <button {{action 'update'}} class='btn btn-positive pull-right' {{bind-attr disabled=coordsHasNotChanged}}>
    Guardar cambios ✓
  </button>
{{else}}
  <button {{action 'goBack' 'reports'}} class="btn btn-link btn-nav pull-left">
    <span class="icon icon-left-nav"></span>
    Atrás
  </button>
  <button {{action 'toggleEditing'}} class='btn btn-link btn-nav pull-right'>
    Cambiar ubicación
    <span class="icon icon-edit"></span>
  </button>
{{/if}}