<div class="themodal-overlay" style="display: none;">
  <div id="similar-reports" class="modal">
    <h1 class="title">Subiendo fotos: ({{validAndUploadedFiles.length}} de 4)</h1>
    {{#view view.DragDrop}}
      {{#if uploadStatus.uploading}}
      <p>
        Subiendo <span class="badge badge-positive">{{uploadStatus.percentComplete}}%</span>
      </p>
      {{/if}}
      {{#if uploadStatus.error}}
      <div class="error-empty">
        Hubo un error al subir las fotos. Por favor intenta más tarde.
      </div>
      {{/if}}
      {{#eachIndexed file in validAndUploadedFiles}}
      <div class="half-screen">
        {{name}}
        <button class="btn remove-image" {{action 'deletePicture' file index}}>Eliminar</button>
        {{view view.ImagePreview imageBinding="file"}}
      </div>
      {{/eachIndexed}}
      {{#if canAddAPhoto}}
      <div class="half-screen">
        <div class="file-input">
            {{view view.SingleInput accept='image/*' class="file-input-hidden"}}
            <button class="btn btn-link fake-btn" {{action 'selectFile'}}>
              <span class="icon icon-plus"></span><br>Agregar otra foto
            </button>
        </div>
      </div>
      {{/if}}
    {{/view}}
    
    <button {{action 'sendComment'}} {{bind-attr class=":btn :btn-block cantSend::btn-primary" disabled=cantSend}}>
    {{#if uploading}}
    <div id="loading-gif"></div>sólo unos segundos más...
    {{else}}
    Envia las fotos
    {{/if}}
    </button>
    <button {{action 'hideModal'}} class="btn btn-positive full-width">Salir y no enviar nada</button>

  </div>
</div>
