<div class="themodal-overlay" style="display: none;">
  <div id="similar-reports" class="modal">
    <h1 class="title">Subiendo fotos: ({{validAndUploadedFiles.length}} de 4)</h1>
    <p class="content-padded">Puedes subir o sacar una foto en este momento</p>

    {{#view view.DragDrop}}
      {{#if uploadStatus.error}}
      <div class="error-empty">
        Hubo un error al subir las fotos. Por favor intenta más tarde.
      </div>
      {{/if}}
      {{#if canAddAPhoto}}
      <div class="file-input">
        {{#if uploadStatus.uploading}}
        <p>
          Subiendo <span class="badge badge-positive">{{uploadStatus.percentComplete}}%</span>
        </p>
        {{else}}
          {{view view.SingleInput accept='image/*' class="file-input-hidden"}}
          <button class="btn fake-btn" {{action 'selectFile'}}>Saca una foto o elige una imagen</button>
        {{/if}}
      </div>
      {{/if}}
      {{#eachIndexed file in validAndUploadedFiles}}
      <div class="half-screen">
        {{name}}
        <button class="btn remove-image" {{action 'deletePicture' file index}}>Eliminar</button>
        {{view view.ImagePreview imageBinding="file"}}
      </div>
      {{else}}
      <div class="half-screen"></div>
      {{/eachIndexed}}
    {{/view}}
    
    <button {{action 'sendComment'}} {{bind-attr class=":btn :btn-block cantSend::btn-primary" disabled=cantSend}}>Envia las fotos</button>
    <button {{action 'hideModal'}} class="btn btn-positive full-width">Salir y no enviar nada</button>

  </div>
</div>
