{{#if filterActive}}
<div id="map-filter" class="content-padded">
  {{input type="search" placeholder="Buscar un lugar..." value=filterAddress insert-newline='searchAddress'}}
  {{google-maps radius=filterRadius latLng=filterCoords zoom=filterZoom formattedAddress=filterAddress}}
  <span class="badge pull-right">{{within}}km</span>
</div>
{{/if}}
{{#if model.length}}
  {{#each itemController='report'}}
    {{#link-to 'report.index' this class="no-underline"}}
    <div class="list-element">
      <div class="main-col">
        <div class="side-col">
          <div class="time">
            {{timePassed}}
          </div>
        </div>
        {{{text}}}
      </div>
    </div>
    {{/link-to}}
  {{/each}}
  
  {{#if showingSpinner}}
    <div class="list-element">
        <div id="loading-gif">
        </div>
    </div>
  {{/if}}  
    
{{else}}
  <div class="error-empty">
    <strong>No pudimos encontrar ningún resultado</strong><br>
    Prueba con radios de búsqueda más extensos u otros lugares más poblados.
  </div>
{{/if}}
