{{#if filterActive}}
<div id="map-filter" class="content-padded">
  <p class="content-padded">Puedes buscar una dirección</p>
  {{input type="search" placeholder="Buscar una dirección..." value=filterAddress insert-newline='searchAddress'}}
  <button {{action 'searchAddress' filterAddress}} class="btn pull-right">
    Buscar
  </button>
  <p class="content-padded">o puede arrastrar el círculo sobre el mapa</p>
  {{google-maps radius=filterRadius latLng=filterCoords zoom=filterZoom formattedAddress=filterAddress}}
  <span class="badge pull-right">{{within}}km</span>
</div>
{{else}}

{{#if filteredContent.length}}
<ul class="table-view">
{{#each report in filteredContent itemController='report'}}
  <li class="table-view-cell media">
    {{#link-to 'report.index' report}}
      <div class="media-object pull-left">
        <img {{bind-attr src=report.user.profileImageMiniUrl}}>
        {{#if report.isFavourite}}
          <div class="fav">★</div>
        {{/if}}
      </div>
      <div class="media-body">
        <p>
          <p class="user-name pull-right">{{report.timePassed}}</p>
          <strong>{{#if report.user.isNotAnonymous}}{{report.user.screenName}}{{else}}Anónimo{{/if}}</strong><br>
          {{{report.formattedText}}}
        </p>
      </div>
    {{/link-to}}
  </li>
{{/each}}
  <li class="error-empty">
    ¡Llegaste al final de las noticias!<br>😊<br><br>
  </li>
</ul>
{{else}}
<div class="error-empty">
  <strong>No pudimos encontrar ningún resultado</strong><br>
  Prueba con radios de búsqueda más extensos u otros lugares más poblados.
</div>
{{/if}}

{{/if}}
