{{#if filterActive}}
<div id="map-filter" class="content-padded">
  {{input type="search" placeholder="Buscar un lugar..." value=filterAddress insert-newline='searchAddress'}}
  {{google-maps radius=filterRadius latLng=filterCoords zoom=filterZoom formattedAddress=filterAddress}}
  <span class="badge pull-right">{{within}}km</span>
</div>
{{/if}}

{{#if model}}
<ul class="table-view">
{{#each report in filteredContent itemController='reportIndex'}}
  <li class="table-view-cell media">
    {{#link-to 'report.index' report}}
      <img class="media-object pull-left" {{bind-attr src=report.user.profileImageMiniUrl}}>
      <div class="media-object pull-right">
      {{#if report.isFavourite}}
        ★
      {{/if}}
      </div>
      <div class="media-body">
        {{{report.text}}}
        <p class="user-name">
        {{#if report.user.isNotAnonymous}}
          <strong>{{report.user.screenName}}</strong> 
        {{else}}
          Anónimo 
        {{/if}}
          {{report.timePassed}}
        </p>
      </div>
    {{/link-to}}
  </li>
{{/each}}
  <li class="error-empty">
    ¡Llegaste al final de las noticias!<br>😊
  </li>
</ul>
{{else}}
<div class="error-empty">
  <strong>No pudimos encontrar ningún resultado</strong><br>
  Prueba con radios de búsqueda más extensos u otros lugares más poblados.
</div>
{{/if}}
