<nav class="bar bar-nav">
  {{outlet header}}
</nav>

<div class="content display-table full-height full-width">
  <ul class="table-view display-row">
    <li class="table-view-cell media">
      <div class="media-object pull-left">
        <img {{bind-attr src=user.profileImageMiniUrl}}>
        <div class="fav">
          <button {{action 'toggleFavourite'}} {{bind-attr class=":btn :btn-positive isFavourite::btn-outlined"}}>
            <span class="icon icon-star-filled"></span><br>Útil
          </button>
        </div>
      </div>
      <div class="media-body">
        <p>
          <p class="user-name pull-right"><i class="flaticon-clock"></i> {{timePassed}}</p>
          <strong>{{user.screenName}}</strong><br>
          {{{formattedText}}}
        </p>
      </div>
      <div>
        {{#link-to 'report.denounce' model type="button" class="btn btn-negative pull-right"}}
          ⚑ Denunciar...
        {{/link-to}}
      </div>
    </li>
  </ul>
  <div class="display-row full-height">
    {{outlet}}
  </div>
</div>

<nav class="bar bar-tab">
  {{#link-to 'report.index' class='tab-item' replace=true}}
    <i class="icon flaticon-info"></i>
    <span class="tab-label">Información</span>
  {{/link-to}}
  {{#link-to 'report.comments' class='tab-item' replace=true}}
    <i class="icon flaticon-chat"></i>
    <span class="tab-label">Comentarios</span>
  {{/link-to}}
  {{#link-to 'report.pictures' class='tab-item' replace=true}}
    <i class="icon flaticon-image"></i>
    <span class="tab-label">Fotos</span>
  {{/link-to}}
</nav>

{{outlet modal}}