<nav class="bar bar-nav search">
  <button {{action 'goBack' 'reports'}} class="btn btn-link btn-nav pull-left">
    <span class="icon icon-left-nav"></span>
  </button>
  <div>
    {{input type='search' placeholder='¿Qué quieres saber?' class='pull-left' value=searchText insert-newline='findNews'}}
  </div>
</nav>

<div class="content">
{{#if latestQueries}}
  <ul class="table-view" id="no-margin">
    <li class="table-view-divider">Búsquedas recientes</li>
    {{#each query in latestQueries}}
    <li class="table-view-cell">
      {{#link-to 'search' (query-params q=query) replace=true class='navigate-right'}}
        {{query}}
      {{/link-to}}
    </li>
    {{/each}}
  </ul>
{{/if}}

{{#if q}}
  {{#if model}}
<ul class="table-view" id="no-margin">
  <li class="table-view-divider">Resultados</li>
  {{#each itemController='report'}}
  <li class="table-view-cell">
    {{#link-to 'report.index' this class="no-underline"}}
      {{text}}
      <span class="badge badge-primary badge-inverted">{{timePassed}}</span>
    {{/link-to}}
  </li>
  {{/each}}
</ul>
  {{else}}
    {{#if showSpinner}}
<div id="loading-gif"></div>
{{else}}
<div class="error-empty">
  <strong>No pudimos encontrar lo que estabas buscando.</strong>
  ¿Podrías intentar nuevamente usando otras palabras?
</div>
    {{/if}}
  {{/if}}
{{/if}}
</div>