<nav class="bar bar-nav search">
  {{#link-to 'reports' controllers.reports.channel class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}
  <div>
    {{input type='search' placeholder='¿Qué quieres saber?' class='pull-left' value=searchText insert-newline='findNews'}}
  </div>
</nav>

<div class="content">
{{#if q}}
  {{#each itemController='report'}}
  {{#link-to 'report.index' this class="no-underline"}}
    <div class="list-element">
      <div class="main-col">
        <div class="side-col">
          <div class="time">
            {{timePassed}}
          </div>
        </div>
        {{{text}}}
      </div>
    </div>
  {{/link-to}}
  {{else}}
    {{#if showSpinner}}
      <div id="loading-gif"></div>
    {{else}}
    <div class="error-empty">
      <strong>No pudimos encontrar lo que estabas buscando.</strong>
      ¿Podrías intentar nuevamente usando otras palabras?
    </div>
    {{/if}}
  {{/each}}
{{else}}
  {{#if latestQueries}}
  <ul class="table-view" id="no-margin">
    <li class="table-view-divider">Búsqueda reciente</li>
  {{#each query in latestQueries}}
    <li class="table-view-cell">
    {{#link-to 'search' (query-params q=query) class='navigate-right'}}
      {{query}}
    {{/link-to}}
    </li>
  {{/each}}
  </ul>
  {{/if}}
{{/if}}
</div>